
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.woff);
  src: url(../fonts/Roboto-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
font-family: "Roboto";
src: url(../fonts/Roboto-Regular.woff);
src: url(../fonts/Roboto-Regular.woff2);
font-weight: 400;
font-style: normal;
}

@font-face {
  font-family: "vipnagorgialla-bd";
  src: url("../fonts/vipnagorgialla-bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-header-bg: #0d0080;
  --color-footer-bg: #0d0080;
  --color-about-icon-bg: #ededed;
  --color-main-title-bg: #e01010;
  --color-text: #fff;
  --colrt-about-text: #000000;
  --color-drweb-text: #000000;
  --color-easter-egg: #6557e2;
  --color-location-text: #7a7a7a;
  --color-link-hover: #c4c4c4;
  --color-link-active: #9e9d9d;
}

body {
max-width: 2560px;
}

a {
text-decoration: none;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

img {
max-width: 100%;
}

h1, h2, h3, h4, p {
margin: 0;
padding: 0;
}

button {
background-color: transparent;
border: none;
padding: 0;
}

html {
font-family: "Roboto", Arial, sans-serif;
}

.visually-hidden {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}

.container {
max-width: 1111px;
margin-left: auto;
margin-right: auto;
padding: 0 14px;
}

/* header */

.header {
min-height: 80px;
background-color: var(--color-header-bg);
margin-bottom: 40px;
}

.header__nav {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;
padding-top: 25px;
}

.header__logo {
margin-right: auto;
}

.header__list {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
}

.header__item {
display: block;
margin-right: 30px;
margin-bottom: 10px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__item-link {
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
color: var(--color-text);
}

.header__item-link:hover {
color: var(--color-link-hover);
}

.header__item-link:active {
color: var(--color-link-active);
}

/* about */

.about {
  margin-bottom: 110px;
}

.main__title {
  font-family: "vipnagorgialla-bd", Arial, sans-serif ;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: var(--color-text);
  background-color: var(--color-main-title-bg);
  text-align: center;
  margin-bottom: 40px;
}

.about__list {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
margin-bottom: 80px;
}

.about__list-item {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
max-width: 292px;
padding: 15px;
text-align: center;
margin-bottom: 45px;
background-color: var(--color-about-icon-bg);
border-radius: 20px;
}

.about__list-item-icon {
margin-left: 20px;
margin-bottom: 20px;
max-width: 250px;
}

.about__list-item-icon--batery {
-webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
        transform: rotate(270deg);
}

.about__list-item:not(:nth-child(even)) {
text-align: center;
margin: 0 0 0 0;
margin-bottom: 45px;
}

.about__list-paragraph {
font-weight: 400;
font-size: 30px;
line-height: 33px;
text-transform: uppercase;
color: var(--colrt-about-text);
}

.about__list-item-icon:nth-child(4) {
margin-bottom: 15px;
}

.about__drweb-title {
font-weight: 700;
font-size: 30px;
line-height: 33px;
color: var(--color-drweb-text);
margin-bottom: 30px;
text-align: center;
}

.about__drweb {
padding: 50px 0 50px 0;
border-top: 2px solid rgb(232, 232, 232);
border-bottom: 2px solid rgb(232, 232, 232);
}

.about__drweb-inner {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 30px;
}

.about__drweb-logo {
  width: 271px;
  margin-right: auto;
}

.about__drweb-img {
display: block;
margin: 0 auto;
}

/* map */

.location {
margin-bottom: 80px;
}

.location__container {
position: relative;
}

.location__inner {
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: var(--color-text);
text-align: center;
padding: 10px;
margin-bottom: 20px;
background-color: var(--color-location-text);
border-radius: 10px;
}

.location__map {
width: 100%;
height: 300px;
margin-right: 58px;
}

.ymaps-2-1-79-svg-icon {
display: none !important;
}

/* footer */

.footer {
min-height: 100px;
background-color: var(--color-footer-bg);
}

.footer__container {
max-width: 700px;
margin: 0 auto;
padding-top: 42px;
padding-left: 40px;
}

.footer__list-phone {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
max-width: 700px;
}

.footer__item-link {
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
color: var(--color-text);
}

.footer__item-link:hover {
color: var(--color-link-hover);
}

.footer__item-link:active {
color: var(--color-link-active);
}

.footer__item {
  position: relative;
  margin-bottom: 15px;
}

.footer__item--phone,
.footer__item--whatsapp {
  position: absolute;
  fill: var(--color-text);
  top: -3px;
  right: 140px;
}

.footer__easter-egg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__easter-egg-title,
.footer__easter-egg-link {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--color-easter-egg);
}

@media (max-width: 1024px) {

.container {
  padding: 0 50px;
}

.header {
  margin-bottom: 40px;
}

.header__nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 0 30px 0;
}

.header__list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__item:last-child {
  margin-right: 0;
}

.main__title {
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 40px;
}

.about__list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about__list-item {
  margin-right: 16px;
  margin-bottom: 30px;
  max-width: 188px;
}

.about__list-item:not(:nth-child(4)) {
  margin: 0;
  margin-right: 16px;
  margin-bottom: 30px;
}

.about__list-item-icon {
  margin-left: 35px;
  max-width: 125px;
}

.about__list-paragraph {
  font-size: 15px;
  line-height: 25px;
}

.about__drweb-inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 30px;
}

.about__drweb-logo {
  width: 271px;
  margin: 0 auto 30px;
}

.footer__container {
  margin: 0 auto;
}

.footer__easter-egg-title,
.footer__easter-egg-link {
  font-size: 8px;
  line-height: 12px;
}

}

@media (max-width: 768px) {

.header {
  margin-bottom: 40px;
}

.main__title {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 40px;
}

.about__list-item {
  height: 220px;
}

.footer__container{
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__list-phone {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item {
  margin-bottom: 20px;
}
}

@media (max-width: 425px) {

.container {
  padding: 0 15px;
}

.header {
  margin-bottom: 40px;
}

.header__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin-right: 0;
  margin-bottom: 20px;
}

.main__title {
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  margin-bottom: 40px;
}

.about__list-item {
  margin-right: 0;
}

.about__list-item:not(:nth-child(4)) {
  margin-right: 0;
}

.footer__social-list {
  margin-bottom: 30px;
}

.footer__container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list-phone {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
}

.footer__item {
  margin-bottom: 30px;
}

.footer__easter-egg-title,
.footer__easter-egg-link {
  font-size: 5px;
  line-height: 7px;
}
}
